@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
* {
    scroll-behavior: smooth;
    
   
    /* border: 1px solid purple; */
    
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: var(--old);
}

.container {
    max-width: 1800px; 
    margin: 0 auto;    
    box-sizing: border-box; 
    background-color: var(--or);
}


:root {
    /* colors */
    --or:  #ff1e00;
    --org: #ff6319;
    --dblu:#3b4c5e;
    --blu: #315470;
    --lblu:#8f9da6;
    --blk: black;
    --wht: #ececec;
    --gr:  #228B22;
    --gf:  #b9d9eb;
    --gray:#b9b1ac;

    /* font-families */
    --old: "Special Elite", system-ui;
    --rub: "ICA Rubrik", sans-serif;
    --pop: "Poppins", sans-serif;
    
    /* font-sizes */
    --xl: 100px;
    --lrg: 44px;
    --md:  24px;
    --ms:  19.5px;
    --s:   18px;
    --sm:  16px;
}
h2, h3, p {
    color: var(--wht);
    z-index: 10000;
}

/* START COLOR MODE*/
.darkmode {
    --or:   black;       /* background */
    --wht:  #ff1e00;    /* color */
    }
.lightmode {
    --or:   #ff1e00;     /* background */
    --wht:  #ececec;     /* color */
    }   
.bluemode {
    --or:   #315470;    /* background */
    --wht:  #ff1e00;    /* color */
    }
.whitemode {
     --or: white;   /* background */
     --wht: black;/* color */
    }
.greenmode {
    --or:   #228B22;    /* background */
    --wht:  #ececec;    /* color */
    }
/* END COLOR MODE */


/* START NAVIGATION BAR */
.sticky {
    position: sticky;
    top: 0;
    background-color: transparent !important;
    z-index: 100;
    }

.nav {
    display: flex;
    align-items: center;
    padding: 0 32px;
    /* background-color: transparent;
    backdrop-filter: blur(30px); */
    }

.nav-1 {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--wht);
    text-decoration: none;
    }

.nav-1:nth-child(1) {
    font-size: var(--lrg);
    margin-right: auto;
    }   

.nav-1:not(:first-child) {
    font-size: var(--s);
    transition: font-size 0.3s ease-in-out;
    cursor: crosshair;
    }

.nav-1:not(:first-child):hover {
    font-size: var(--ms);
    }

/* START LOGO */
.special-47 { font-size: 50px; }
.special-13 { font-size: 38px; }
.special-web-dev {
    font-size: 22px;
    padding-left: 16px;
    align-self: center;
    }
    
@media only screen and   (max-width: 767px) {
    .special-47 {
            font-size: 38px;
        }
    }
/* END LOGO */

    /* START THEME SWITCH */
.toggle {
    padding: 21px 38px 1px 0px;
    /* background-color: transparent;
    backdrop-filter: blur(30px); */
   }

.button {
    display:       flex;
    align-items:   right;
    margin-left:   auto;
    width:         var(--sm);
    height:        var(--sm);
    border-radius: 50%;
    border:        none;
    background-color: var(--wht);
    cursor:        crosshair;
    transition:    ease-in-out 0.3s;
    }

.button:hover {
    background-color: var(--wht);
    width:            var(--md);
    height:           var(--md);
    }


/* END THEME SWITCH */
/* END NAVIGATION */

/* UNDER CONSTRUCTION */
.heading {
    display: flex;
    justify-content: center;
    }
 /* END */


 /* START CENTER IMAGE IN CAROUSEL */
#musings {
    display: flex;
    justify-content: center;
    top: 100px;
    font-family: var(--rub);
    font-size: var(--xl);
    color: #ff1e00;
    -webkit-text-stroke: .75px white;
    }
/* END CENTER IMAGE IN CAROUSEL */


/* START CAROUSEL 1 */
.banner {
    width:      100%;
    height:     185vh;
    text-align: center;
    overflow:   hidden;
    position:   relative;
   }

.banner .slider {
    position:        absolute;
    width:           250px;
    height:          250px;
    top:             30%;
    left:            calc(50% - 125px);
    transform-style: preserve-3d;
    transform:       perspective(6000px);
    animation:       autoRun 100s linear infinite;
    animation-fill-mode: forwards; 
   }

@keyframes autoRun {
    from {
        transform: perspective(10000px) rotateX(-35deg) rotateY(-360deg);
    }
    to {
        transform: perspective(10000px) rotateX(-15deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    transform: 
         rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
         translateZ(550px);
        }

.banner .slider .item img {
    width:      100%;
    height:     100%;
    object-fit: cover;
    transition: ease-in-out 0.3s;
    }

.banner .slider .item img:hover {
    transform: scale(1.1);
    cursor: crosshair;
    }
/* END CAROUSEL 2 */

.content {
    display: flex;
}











/* START BLOG */
.blog-container {
        height: 150vh;
        max-width: 1800px; 
        margin: 0 auto;    
        box-sizing: border-box; 
        background-color: var(--or);
    }

.h1-blog {
    display: flex;
    justify-content: center;
    color: var(--wht);
}
.blog-text {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 28px 28px 28px;
    color: var(--wht);
}
.date-blog {
    display: flex;
    padding-left: 28px;
    color: var(--wht);
}
/* BLOG END */









