@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid purple; */
}

#musings {
    display: flex;
    justify-content: center;
    font-size: var(--lrg);
    color: #8f9da6;
    
    
}

:root {
    /* colors */
    --or:  #ff1e00;
    --blu: #315470;
    --lblu:#8f9da6;
    --blk: black;
    --wht: #ececec;
    --gr:  #228B22;

    /* font-families */
    --old: "Special Elite", system-ui;
    --rub: "ICA Rubrik", sans-serif;
    --pop: "Poppins", sans-serif;
    
    /* font-sizes */
    --lrg: 44px;
    --md:  24px;
    --ms:  19.5px;
    --s:   18px;
    --sm:  16px;
}





/* switch color scheme */
.toggle {
    padding: 21px 38px 1px 0px;
}
.button {
    display:       flex;
    align-items:   end;
    margin-left:   auto;
    width:         var(--sm);
    height:        var(--sm);
    border-radius: 50%;
    border:        none;
    background-color: var(--wht);
    cursor:        crosshair;
    transition:    ease-in-out 0.3s;
}
.button:hover {
    background-color: var(--wht);
    width:            var(--md);
    height:           var(--md);
}
/* end switch color scheme */


/* color modes for js*/
.darkmode {
    --or:   black;       /* background */
    --wht:  #ff1e00;    /* color */
    
}
.lightmode {
    --or:   #ff1e00;     /* background */
    --wht:  #ececec;     /* color */
  
}   
.bluemode {
    --or:   #315470;    /* background */
    --wht:  #ff1e00;    /* color */
}
.whitemode {
     --or: white;   /* background */
     --wht: black;/* color */
}
.greenmode {
    --or:   #228B22;    /* background */
    --wht:  #ececec ;    /* color */
}
/* end color modes for js */


body {
    background-color: var(--or);
    font-family: var(--old);
}




.nav {
    display: flex;
    
    padding-right: 32px;
    
}

/* logo start */
.special-47 {
    font-size: 50px;
    
    
}
.special-13 {
    font-size: 38px;

}
.special-web-dev {
    font-size: 22px;
    padding-left: 16px;
    align-self: center;
    padding-top: px;
}
/* logo end */

.item {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--or);
    color: var(--wht);
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    
    
}

/* 1st */
.item:nth-child(1) {
    text-decoration: none;
    font-size: var(--lrg);
    margin-right: auto;
    padding-left: 32px;
}

/* 2nd */
.item:nth-child(2) {
    font-size: var(--s);
    margin-left: 0;
    transition: ease-in-out 0.3s;
    cursor: crosshair;
}
.item:nth-child(2):hover {
    font-size: var(--ms);
}

/* 3rd */
.item:nth-child(3) {
    font-size: var(--s);
    margin-left: 0;
    transition: ease-in-out 0.3s;
    cursor: crosshair;
}
.item:nth-child(3):hover {
    font-size: var(--ms);
}

/* 4th */
.item:nth-child(4) {
    font-size: var(--s);
    margin-left: 0;
    transition: ease-in-out 0.3s;
    cursor: crosshair;
}

.item:nth-child(4):hover {
    font-size: var(--ms);
}




/* screen sizesMobile phones:

Small: 320px - 480px
Medium: 481px - 767px


Tablets:

768px - 1024px


Desktops:

Small: 1025px - 1280px
Medium: 1281px - 1440px
Large: 1441px and above
 

@media screen and (min-width: 481px)
@media screen and (min-width: 769px) 
@media screen and (min-width: 1025px)
@media screen and (min-width: 1441px)
 */

@media only screen and   (max-width: 767px) {
    
    .special-47 {
        font-size: 38px;
    }
}






/* START CAROUSEL 1 */
.banner {
    width:      100%;
    height:     150vh;
    text-align: center;
    overflow:   hidden;
    position:   relative;
   
}

.banner .slider {
    position:        absolute;
    width:           300px;
    height:          300px;
    top:             30%;
    left:            calc(50% - 100px);
    transform-style: preserve-3d;
    transform:       perspective(1000px);
    animation:       autoRun 100s linear infinite; 
   
}

@keyframes autoRun {
    from {
        transform: perspective(3000px) rotateX(-36deg) rotateY(-360deg);
    }to {
        transform: perspective(3000px) rotateY(36deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    transform: 
         rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
         translateZ(550px);
}

.banner .slider .item img {
    width:      100%;
    height:     100%;
    object-fit: cover;
    transition: ease-in-out 0.3s;
}

.banner .slider .item img:hover {
    transform: scale(1.1);
    
    cursor: crosshair;
}
/* end carousel 1 */

/* START CAROUSEL 2 */

/* END CAROUSEL 2 */


.banner .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.banner .content h1 {
    margin-right: auto;
    font-family: var(--rub);
    font-size: 16em;
    line-height: 2em;
    -webkit-text-stroke: .75px white;
    opacity: 85%;
    color: var(--wht);
}

.banner .content .author {
    font-family: Poppins;
    font-size: var(--md);
    -webkit-text-stroke: .75px white;
    line-height: 2em;
    text-align: right;
    max-width: 200px;
    opacity: 85%;
    color: var(--wht);
}













/* temp css for about.html */
.date {
    display: flex;
    color: var(--lblu);
    padding: 35px 45px 0px 45px;
    
}
.about {
    display: flex;
    color: var(--lblu);
    padding-left: 45px;
    line-height: 1.5rem;
    
}

#link a {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    padding-top: 35px;
    padding-left: 45px;
    width: 350px;
    
    
   
   
    color: var(--lblu);
    text-decoration: none;
    font-size: var(--s);
    transition: ease-in-out .3s;
    cursor: crosshair;
   
   
}

#link a:hover {
    font-size: 1.5rem;
}








